.row
  .col-lg-3
  .col-lg-6
    .card
      .card-header
        %h4
          .fa.fa-graduation-cap
          = link_to @subscription.course.name, course_path(@subscription.course)
          .row
          .text-warning.fa.fa-star
          Add a Review
      .card-body
        = render 'form'
      .card-footer
        = link_to 'Show', @subscription
        \|
        = link_to 'Cancel', subscriptions_path
