/courses/index
- content_for :title do
  EDURGE
  |
  = action_name.humanize
  Courses

.text-center
  %h3.text-white
    .fa.fa-graduation-cap
    = action_name.humanize
    courses
    .badge.badge-danger= @courses.count

.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
