/categories/index
- content_for :title do
  EDURGE
  |
  Categories

.text-center.text-white
  %h3
    .fa.fa-bookmark
    = pluralize(Category.count, 'category')
%p
.card-columns
  - @categories.each do |category|
    = render 'categories/category', category: category
