.row
  .col-lg-3
  .col-lg-6
    .card
      .card-header
        %h4
          .fa.fa-bookmark
          New category
      .card-body
        = render 'form'
      .card-footer
        = link_to 'Cancel', root_path
