/category/show
.text-center.text-white
  %h3
    Category
= render 'categories/category', category: @category
.text-center.text-white
  %h3
    Courses:
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
