/category/show
.text-center
  %h2
    Category
= render 'categories/category', category: @category
.text-center
  %h2
    Courses:
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
