/category/show
- content_for :title do
  EDURGE
  |
  Categories
  |
  = @category.name

.text-center.text-white
  %h3
    .fa.fa-bookmark
    Category
= render 'categories/category', category: @category
.text-center.text-white
  %h3
    .fa.fa-graduation-cap
    = pluralize(@courses.count, 'course')
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
