%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        © 
        = Time.now.year
        EDURGE Sp. z o.o.
        .row
        .fa.fa-envelope
        = mail_to 'support@edurge.com'
        .row
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        Teach on EDURGE
%br
